# Copy this file to ~/.config/todo-demo/todo.env and replace the example password.
POSTGRES_DB=todo
POSTGRES_USER=todo
POSTGRES_PASSWORD=replace-with-a-long-random-password
DATABASE_URL=host=todo-postgres port=5432 dbname=todo user=todo password=replace-with-a-long-random-password
