[Unit]
Description=Todo PostgreSQL database

[Container]
Image=docker.io/library/postgres:17
ContainerName=todo-postgres
Network=todo.network
Volume=todo-postgres-data.volume:/var/lib/postgresql/data
Secret=todo-db-password
Environment=POSTGRES_DB=todo
Environment=POSTGRES_USER=todo
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/todo-db-password
PublishPort=127.0.0.1:5432:5432
HealthCmd=pg_isready -U todo -d todo
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
HealthStartupCmd=pg_isready -U todo -d todo
HealthStartupInterval=1s
HealthStartupTimeout=5s
HealthStartupRetries=30
HealthStartupSuccess=1
HealthOnFailure=kill

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=120
