[Unit]
Description=Todo Caddy frontend and reverse proxy
Requires=todo-backend.service
After=todo-backend.service

[Container]
Image=localhost/todo-frontend:m10
ContainerName=todo-frontend
Network=todo.network
Volume=todo-caddy-data.volume:/data:U
PublishPort=127.0.0.1:8080:8080
PublishPort=127.0.0.1:8443:8443

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
