[Unit]
Description=Apply Todo database migrations
Requires=todo-postgres.service
After=todo-postgres.service

[Container]
Image=localhost/todo-backend:m11
ContainerName=todo-migrate
Network=todo.network
Secret=todo-db-password
Environment=DATABASE_HOST=todo-postgres
Environment=DATABASE_PORT=5432
Environment=DATABASE_NAME=todo
Environment=DATABASE_USER=todo
Environment=DATABASE_PASSWORD_FILE=/run/secrets/todo-db-password
Exec=python -m backend.migrate up

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=120
ExecStartPre=/usr/bin/podman wait --condition=healthy todo-postgres
