[Unit]
Description=Todo FastAPI backend
Requires=todo-migrate.service
After=todo-migrate.service

[Container]
Image=localhost/todo-backend:m8
ContainerName=todo-backend
Network=todo.network
Secret=todo-db-password
Environment=DATABASE_HOST=todo-postgres
Environment=DATABASE_PORT=5432
Environment=DATABASE_NAME=todo
Environment=DATABASE_USER=todo
Environment=DATABASE_PASSWORD_FILE=/run/secrets/todo-db-password
PublishPort=127.0.0.1:8000:8000

[Service]
Restart=on-failure
RestartSec=5s
