[Unit]
Description=Todo frontend and backend Podman Kube workload
Requires=todo-postgres.service todo-keycloak.service
After=todo-postgres.service todo-keycloak.service

[Kube]
Yaml=app.yaml
ConfigMap=config.yaml
Network=todo.network
PodmanArgs=--no-pod-prefix
PublishPort=127.0.0.1:8080:8080
PublishPort=127.0.0.1:8443:8443
{% if todo_publish_address != '127.0.0.1' %}
PublishPort={{ todo_publish_address }}:{{ todo_service_port }}:8443
{% endif %}
ExitCodePropagation=any
LogDriver=journald
SetWorkingDirectory=yaml

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=180
TimeoutStopSec=60

[Install]
WantedBy=default.target
