{
	admin off
	auto_https disable_redirects
}

(todo_routes) {
	handle /auth/* {
		reverse_proxy todo-keycloak:8080
	}

	handle /api/* {
		reverse_proxy todo-backend:8000
	}

	handle /health {
		reverse_proxy todo-backend:8000
	}

	handle /ready {
		reverse_proxy todo-backend:8000
	}

	handle {
		root * /srv
		file_server
	}
}

http://:8080 {
	import todo_routes
}

https://localhost:8443 {
	tls internal
	import todo_routes
}
