[Unit]
Description=Todo frontend and backend Podman Kube workload
Requires=todo-postgres.service todo-keycloak.service
After=todo-postgres.service todo-keycloak.service

[Kube]
Yaml=app.yaml
ConfigMap=config-runtime.yaml
Network=todo.network
PublishPort=127.0.0.1:8080:8080
PublishPort={{ todo_kube_node_address }}:{{ todo_kube_service_port }}:8443
ExitCodePropagation=any
LogDriver=journald
SetWorkingDirectory=yaml

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=180

[Install]
WantedBy=default.target
